service: mpc-backend
frameworkVersion: "3"
useDotenv: true
configValidationMode: error

provider:
  name: aws
  lambdaHashingVersion: 20201221
  runtime: nodejs14.x
  stage: ${opt:stage, "local"} # qa, prod
  region: us-east-1

  tags:
    provisionedBy: serverless

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/*"

  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}
    LOG_LEVEL: debug
    MPC_TABLE: ${env:MPC_TABLE}-${opt:stage, self:provider.stage}
    APIKEY: ${env:APIKEY}-${opt:stage, self:provider.stage}

  apiGateway:
    shouldStartNameWithService: true

  httpApi:
    cors: true
    useProviderTags: true

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  serverless-offline:
    ignoreJWTSignature: true
    httpPort: 4000

plugins:
  - serverless-webpack
  - serverless-offline #serverless-offline needs to be last in the list!

functions:
  mint:
    handler: backend/api/mint.mintApi
    description: Mint a private NFT
    timeout: 10
    events:
      - httpApi:
          method: post
          path: /api/mint
resources:
  Resources:
    MPCTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.MPC_TABLE}
        AttributeDefinitions:
          - AttributeName: contractTokenId
            AttributeType: S
          - AttributeName: chainId
            AttributeType: S
        KeySchema: # create a primary key
          - AttributeName: contractTokenId
            KeyType: HASH
          - AttributeName: chainId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
package:
  patterns:
    - "!__tests__/**"
